/* dark color code 1c1c24 or 1b1b22 */
/* grey color code 28242c or 24242c */


:root {
    --bg-color: #1b1b22;
    --second-bg-color: #222228;
    --span-color: rgb(132, 0, 255);
}

/* NavBar Section */

span {
    font-weight: bold;
    color: rgb(132, 0, 255);
}
header {
    background-color: transparent;
    backdrop-filter: blur(5px);
    z-index: 1;
    position: fixed;
    width: 100%;
}
header h2 {
    font-weight: 700;
    padding-inline-start: 5%;
}
ul {
    inline-size: 100%;
    justify-content: space-evenly;
}
.navbar {
    width: 100%;
    justify-content: space-evenly;
}
.navbar-light .navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28132, 0, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-toggler {
    border: 2px solid var(--span-color);
}

/* Home Section */

.home {
    background-color: var(--bg-color);
    padding-top: 6em;
    padding-left: 10px;
    padding-right: 10px;
}
.home p {
    padding-top: 150px;
}
.home h1 {
    font-size: 55px;
}
.span-btn {
    background: var(--span-color);
    border: none;
    border-radius: 5px;
    width: 35%;
    height: 11%;
    color: rgb(191, 191, 191);
    font-weight: 700;
    margin-top: 5%;
    font-size: 1.1rem;
}
.home .logo {
    height: 525px;
}

/* Projects Section */

.projects {
    background-color: var(--second-bg-color);
    padding-left: 10px;
    padding-right: 10px;
}
.projects p {
    padding-top: 4em;
}
.projects h2 {
    font-size: 45px;
}
.projects .card-parent {
    padding-top: 1.5em;
    padding-bottom: 3em;
}
.projects a {
    text-decoration: none;
    color: white;
}